body {
  overflow: hidden;
  background-color: #6267dfd3;
  
}
  .aboutBodyFrame{
    background-color: #AC66E1;
    background-color: #6267dfd3;
    width: 99.7%;
    height: 91.0vh;
    padding-right: 0px;
    margin-bottom: 0px;
    margin-top: 0%;
    border-bottom-left-radius: 5dvb;
    border-left-style: outset;
    border-style: outset;
    clip-path: polygon(0% 0%,30% 0%, 65% 100%,0% 100%);
  }

  .aboutCube{
    background-color: #6267dfd3;
    background-color: #AC66E1;
    border-bottom-right-radius: 5dvb;
    border-bottom-left-radius: 5dvb;
    border-right-style: outset;
    margin-top: 0%;
    
  }

  /* .stage-cube-cont{ */
    /* background-color: #c54b4bd3; */
    /* padding-right: 0px; */
    /* margin-bottom: 0px; */
    /* clip-path: polygon(10% 60%, 0% 6%,100% 6%, 100% 100%,100% 100%); */
    /* border-bottom-right-radius: 5dvb; */
  /* } */

  .welcomeText{
    padding: 0%;
    padding-top: 4%;
  }
  
  @media screen and (max-width: 767px) {
    .backgroundImage0{
      background-size: contain;
    }

    .welcomeText {
      font-size: 20px; /* Adjust font size for smaller screens */
      margin-left: 20px; /* Adjust margin for smaller screens */
      margin-top: -200px; /* Adjust margin for smaller screens */
      width: 300px; /* Adjust width for smaller screens */

    }

  
    .welcomeText h4 {
      font-size: 20px; /* Adjust font size for smaller screens */
    }
  
    .welcomeText p {
      font-size: 14px; /* Adjust font size for smaller screens */
    }

    .stage-cube-cont {
      width: 100%; /* Adjust width for smaller screens */
      padding-top: 10%; /* Adjust padding-top for smaller screens */
      margin-left: 0; /* Adjust margin-left for smaller screens */
      position: relative; /* Change position to relative for smaller screens */
      top: unset; /* Remove top positioning for smaller screens */
      overflow: visible; /* Reset overflow for smaller screens */
    }
  
    .cube-spinner {
      margin-left: 25%; /* Adjust margin-left for smaller screens */
    }
  
    .cube-spinner div {
      width: 150px; /* Adjust width for smaller screens */
      height: 150px; /* Adjust height for smaller screens */
      font-size: 70px; /* Adjust font size for smaller screens */
    }
  }

  .welcomeText {
    text-shadow: 0px 4px 4px #000000d2;
    font-family: "Nunito-Bold", Helvetica;
    font-size: 30px;
    margin-left: 80px;
    color: #fff5f5;
    opacity: none;
    margin-top: -500px;
    letter-spacing: 1px; 
    word-spacing: 1px; 
    word-wrap: normal;
    width: 520px;;
    
    span{
      color: #d495e3;
    }
    p{
      font-size: 16px;
      text-shadow: none;
      color: #ffffff;

    }

    h4{
      color: #ffffff;
      font-size: 25px;

      span{
        color: #d495e3;
      }
    }

  }

  .aboutBody {
    display: flex;
    flex-direction: row;
    padding-top: 600px;
   
  }

  /*----------------------------------------------------------------  */
  
  .vUviverse {
    display: inline-block;
    perspective: 1000px; 
    transition: transform 0.2s;
  }
  .vUviverse :hover{
    color: #e7d808;
    transition: 0.2s;
    transform: rotateY(180deg);
  }

  /* ------------------------------------------------------------------ */

.stage-cube-cont{
  flex-grow: 1;
  width:  50%;
  height: 100%;
  top:0%;
  padding-top: 18%;
  margin-left: 0;
  position: absolute;
  right: 0;
  overflow: hidden;

  }


.cube-spinner{
  animation-name:spinCube;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  transform-style: preserve-3d;
  transform-origin: 100px 100px 0;
  margin-left: calc(50% - 100px);

  div{
    position: absolute;
    width: 200px;
    height: 200px;
    border: 1px solid #fff5f5;
    background: rgb(255, 255, 255, 0.4);
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px 0px lightyellow;
  }

  .face0{
    transform: translateZ(100px);
  }
  .face1{
    transform: rotateY(90deg) translateZ(100px);
  }
  .face2{
    transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
  }
  .face3{
    transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
  }
  .face4{
    transform: rotatetY(-90deg) rotateZ(-90deg) translateZ(100px);
  }
  .face5{
    transform: rotateX(-90deg) translateZ(100px);
  }
}


@keyframes spinCube{
  
  to{
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16%{
    transform: rotateY(-90deg);
  }
  33%{
    transform: rotateY(-90deg) rotateZ(90deg);
  }
  50%{
    transform: rotateY(-180deg) rotateZ(90deg);
  }
  66%{
    transform: rotateY(-270deg) rotateZ(90deg);
  }
  83%{
    transform: rotateX(90deg);
  }
}



/* ---------------------------responsivenesss */

@media screen and (max-width: 768px) {
  .backgroundImage0 {
    height: 200px;
  }
  
  .welcomeText {
    font-size: 20px;
  }
}



@media screen and (max-width: 480px) {
  .backgroundImage0 {
    height: 150px;
  }
  
  .welcomeText {
    font-size: 18px;
  }
}





@media screen and (min-width: 1921px) {
  .nav-bar {
    padding: 20px 100px; /* Adjust padding as needed */
  }
  .circle-icons {
    height: 150px;
  }

}

